:root{
    --clr-cyan:hsl(185, 75%, 39%);
    --clr-dark-blue:hsl(229, 23%, 23%);
    --clr-dark-gray:hsl(0, 0%, 59%);
    --clr-grayish-blue:hsl(227, 10%, 46%);
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight:400;
    min-height:100vh;
    display:grid;
    align-items:center;
    overflow:hidden;
    background-color: var(--clr-cyan);
    background-image: url(bg-pattern-top.svg),url(bg-pattern-bottom.svg);
    background-position: bottom 50vh right 50vw,top 50vh left 50vw;
    background-repeat: no-repeat,no-repeat;
}
/*******typography*******/
.name,.number{
    font-size:18px;
    font-weight:700;
    color:var(--clr-dark-blue);
}
span,.location,.stats-name{
    color:var(--clr-dark-gray);
    font-weight:400; 
}
.stats-name{
    font-size:.75em;
    letter-spacing:.1em;
}
/*******layout*******/
p{
    margin:0;
}
.card{
    width:340px;
    height:350px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius:1em;
    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    -ms-border-radius:1em;
    -o-border-radius:1em;
}
@media(max-width:375px)
{
 .card{
        width:90%;
    }
}
.name{
    margin-top:1em;
}
.location{
    margin-top:.5em;
    margin-bottom:1em;
}
/*******profile_header*******/
.profile-header-bg{
    width:100%;
    height:auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    
}
/*******profile_body*******/
.profile_body{
    text-align:center; 
}
.profile-photo{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-top:-4em;
    border:5px solid #fff;
    align-items: center;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
/*******profile_footer*******/
.profile_footer{
    border-top:1px solid #f0e5e5;
    padding:1em;
    text-align: center;
}
.stats{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
